/* Estilos para o componente Navbar */
.navbar {
    background-color: #141414; /* Fundo escuro para combinar com o menu */
    padding: 1.5rem 0rem 0.5rem 0rem;
    display: flex;
    justify-content: center; /* Centralizar conteúdo */
}

.search-form {
    display: flex;
    justify-content: center;
    width: 60%;
    max-width: 600px; /* Limitar a largura máxima */
    margin: 0 auto;
}

.input-container {
    position: relative;
    width: 100%;
}

.search-input {
    padding: 0.7rem 0.8rem 0.7rem 1.5rem;
    border: none;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    background-color: #444;
    color: #ffffff;
}

.search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 2.5rem;
}

.search-icon {
    pointer-events: none;
    font-size: 1.2rem;
}
