/* Estilo base */
.container .title {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.title .query-text {
    color: aqua;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

.movie-card {
    width: 22%;
    color: white;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: gray;
    padding: 1rem;
    border-radius: 5px;
}

.text-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.text-card p svg {
    color: yellow;
}

.details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem; /* Espaço entre o título e o contêiner de detalhes */
}

.text-card a {
    background-color: black;
    border: 2px solid;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
}

.movie-card img {
    max-width: 100%;
}

.movie-card img {
    margin-bottom: 1rem;
}

/* Media query para telas menores que 1200px */
@media (max-width: 1200px) {
    .movies-container {
        max-width: 1000px;
    }

    .movie-card {
        width: 45%;
    }
}

/* Media query para telas menores que 992px */
@media (max-width: 992px) {
    .movies-container {
        max-width: 800px;
    }

    .movie-card {
        width: 48%;
    }
}

/* Media query para telas menores que 768px */
@media (max-width: 768px) {
    .container .title {
        font-size: 2rem;
        margin: 1.5rem 0 1rem;
    }

    .movies-container {
        max-width: 600px;
    }

    .movie-card {
        width: 48%;
    }
}

/* Media query para telas menores que 576px */
@media (max-width: 576px) {
    .container .title {
        font-size: 1.5rem;
        margin: 1rem 0 0.5rem;
    }

    .movies-container {
        max-width: 100%;
        padding: 0.5rem;
    }

    .movie-card {
        width: 45%;
        margin-bottom: 1rem;
    }
}
