/* GridMovies.css */

/* Estilo base */
.gridmovies-page .container .title {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.gridmovies-page .title .query-text {
    font-size: 30px;
}

.gridmovies-page .movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

.gridmovies-page .movie-card {
    color: white;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 5px;
}

.gridmovies-page .text-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gridmovies-page .text-card p svg {
    color: yellow;
}

.gridmovies-page .details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.gridmovies-page .text-card a {
    background-color: black;
    border: 2px solid;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
}

.gridmovies-page .movie-card img {
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 15px;
}

@media (max-width: 1200px) {
    .gridmovies-page .movies-container {
        max-width: 1000px;
    }

    .gridmovies-page .movie-card {
        width: 45%;
    }
}

@media (max-width: 992px) {
    .gridmovies-page .movies-container {
        max-width: 800px;
    }

    .gridmovies-page .movie-card {
        width: 48%;
    }
}

@media (max-width: 768px) {
    .gridmovies-page .container .title {
        font-size: 2rem;
        margin: 1.5rem 0 1rem;
    }

    .gridmovies-page .movies-container {
        max-width: 600px;
    }

    .gridmovies-page .movie-card {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .gridmovies-page .container .title {
        font-size: 1.5rem;
        margin: 1rem 1.5rem 0.5rem;
    }

    .gridmovies-page .movies-container {
        max-width: 100%;
        padding: 0.5rem;
    }

    .gridmovies-page .movie-card {
        width: 100%;
        margin-bottom: 1rem;
    }
}
