/* Movie.css */

/* Container principal */
.movie-page .movie-container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    color: #fff;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Cabeçalho do filme */
.movie-page .movie-header {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.movie-page .movie-header img {
    border-radius: 15px;
}

/* Informações do filme */
.movie-page .movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Título do filme */
.movie-page .movie-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

/* Tagline do filme */
.movie-page .movie-tagline {
    font-size: 1.1rem;
    font-style: italic;
    color: #ccc;
    margin-bottom: 1rem;
}

/* Runtime do filme */
.movie-page .movie-runtime {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.movie-page .movie-runtime svg {
    margin-right: 0.5rem;
    color: #ffcc00;
}

/* Sinopse do filme */
.movie-page .movie-overview {
    margin-top: 2rem;
}

.movie-page .movie-overview h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.movie-page .movie-overview p {
    font-size: 1rem;
    line-height: 1.6;
}

/* Movie Card */
.movie-page .movie-card {
    /* Estilos específicos para movie-card nesta página */
}

@media (max-width: 768px) {
    .movie-page .movie-title {
        font-size: 1.4rem;
    }

    .movie-page .movie-info {
        flex-direction: column;
    }

    .movie-page .movie-header {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .movie-page .movie-header img {
        width: 100%;
        height: 100%;
    }

    .movie-page .movie-card {
        width: 100%;
        margin-bottom: 0;
    }
    
    .movie-page .movie-card img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    .movie-page .movie-container {
        margin: 0 auto;
        padding: 2rem;
        color: #fff;
        background-color: black;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}
