/* Movie.css */

/* Container principal */
.movie-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
    color: #fff;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Cabeçalho do filme */
  .movie-header {
    display: flex;
    gap: 2rem; /* Adjust gap as needed for different screen sizes */
    margin-bottom: 2rem;
  }
  
  .movie-header img{
    border-radius: 15px;
    }
  
  /* Informações do filme */
  .movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Título do filme */
  .movie-title {
    font-size: 1.8rem; /* Adjust base font size here */
    margin-bottom: 1rem;
  }
  
  /* Tagline do filme */
  .movie-tagline {
    font-size: 1.1rem;
    font-style: italic;
    color: #ccc;
    margin-bottom: 1rem;
  }
  
  /* Runtime do filme */
  .movie-runtime {
    display: flex;
    align-items: center;
    font-size: 1rem; /* Adjust base font size here */
  }
  
  .movie-runtime svg {
    margin-right: 0.5rem;
    color: #ffcc00;
  }
  
  /* Sinopse do filme */
  .movie-overview {
    margin-top: 2rem;
  }
  
  .movie-overview h2 {
    font-size: 1.5rem; /* Adjust base font size here */
    margin-bottom: 1rem;
  }
  
  .movie-overview p {
    font-size: 1rem; /* Adjust base font size here */
    line-height: 1.6;
  }
  
  /* Movie card responsiveness (consider using a separate CSS file for MovieCard) */
  .movie-card {
    width: 100%; /* Assuming MovieCard uses a fixed width */
  }
  
  /* Media Queries for further adjustments (optional) */
  @media (max-width: 768px) {
    /* Adjust styles for smaller screens here */
    .movie-title {
      font-size: 1.4rem;
    }
    .movie-info {
      flex-direction: column; /* Stack elements on top of each other */
    }

    .movie-header {
        display: flex;
        gap: 2rem; 
        flex-direction: column;
        margin-bottom: 2rem;
      }
      
      .movie-header img{
        width: 100%;
        height: 100%;
      }
  }
  